.vscode/
__pycache__
.ipynb_checkpoints
.DS_Store

C2/W1/ungraded_lab/cats_and_dogs_filtered.zip
C2/W1/ungraded_lab/cats_and_dogs_filtered/
C2/W2/ungraded_labs/cats_and_dogs_filtered.zip
C2/W2/ungraded_labs/horse-or-human.zip
C2/W2/ungraded_labs/tmp/
C2/W3/ungraded_lab/cats_and_dogs_filtered.zip
C2/W3/ungraded_lab/tmp/
C3/W1/ungraded_labs/sarcasm.json
C3/W2/ungraded_labs/sarcasm.json
C4/wavenet.h5
